
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px auto 40px; 
  height: 100vh;
  width: 100%;
}


.item {
  grid-column: 1 / -1;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.side {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  
}

.side ul {
  padding: 0;
  margin: 0;
  list-style:none;
}

.side li {
  margin: 10px 0;
}

.side a {
  text-decoration: none;
  color:white;
  
}


.main {
  grid-row: 2 / 3;
  text-align: left;
  padding: 20px;
  color:black;
  background-color: #ffffff;
  
}

.main h1 {
  color: #ff353c;
  margin-bottom: 15px;
}


.item2 {
  grid-column: 1 / -1;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.img1,.img2{
 padding: 10px;
  
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1fr auto;
  }

  .side {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .main {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
}
